/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif; /* Usa a fonte Inter */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
.dark-theme {
  background: radial-gradient(circle at top left, #363636, #000000);
  color: #fff; /* Texto claro */
}

.light-theme {
  background: radial-gradient(circle at top left, #EBEBEB, #FFFFFF);
  color: #313131;
}

.main-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  min-height: 100vh; /* Garante altura mínima da viewport */
}

.content {
  display: flex;
  align-items: center; /* Alinha itens ao centro verticalmente */
}

.text-container {
  display: block; /* Torna os parágrafos em linha */
  align-items: center; /* Alinha itens ao centro verticalmente */
  margin-right: 20px; /* Espaçamento à direita */
}

.text-container p {
  font-size: 56px; /* Ajuste o tamanho do texto para 36px */
  margin: 0; /* Remove margens */
  font-style: bold;
}

.icon-container {
  display: flex;
  align-items: center; /* Alinha ícone ao centro verticalmente */
  margin-left: 20px; /* Espaçamento à esquerda */
}

.theme-switcher button {
  margin-top: 10px;
  background-color: #1e1e1e; /* Cor de fundo lilás */
  color: white; /* Cor do texto */
  border: none; /* Remove a borda */
  padding: 10px 20px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remove sublinhado padrão */
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.8s; /* Duração da transição */
  cursor: pointer; /* Mostra o cursor como ponteiro ao passar por cima */
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(17, 17, 17, 0.875);
  &:hover {
    background-color: #914EBF; /* Cor de fundo para tema escuro */
  color: #ffffff; /* Cor do texto para tema escuro */
  }
}

.dark-theme .theme-switcher button {
  margin-top: 10px;
  background-color: #914EBF; /* Cor de fundo para tema escuro */
  color: #ffffff; /* Cor do texto para tema escuro */
  border: none; /* Remove a borda */
  padding: 10px 20px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remove sublinhado padrão */
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.8s; /* Duração da transição */
  cursor: pointer; /* Mostra o cursor como ponteiro ao passar por cima */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 3px 3px 8px rgba(17, 17, 17, 0.875); /* Sombra */
}

.dark-theme .theme-switcher button:hover {
  background-color: #1e1e1e; /* Cor de fundo mais escura ao passar o mouse */
  color: white;
}